.panel.panel-default
    .panel-heading
        p 商品信息管理
        a.btn.btn-primary(ng-click='goToCreate()') 添加商品
    table.table
        tr
            th 序号
            th 商品名称
            th 商品数量
            th 单价(元)
            th 单位
            th 发布时间
            th 操作

        tr.list-item(ng-repeat='item in items | orderBy: "birth": reverse')
            td {{$index + 1}}
            td {{item.name}}
            td
                .btn-group
                    button.btn.btn-default(ng-click='alterAmount(item.id, null, -1)') -
                    input.btn.btn-default.number(type='text', ng-model='item.amount', ng-keyup='alterAmount(item.id, item.amount)')
                    button.btn.btn-default(ng-click='alterAmount(item.id, null, 1)') +
            td {{item.price}}
            td {{item.unit}}
            td {{item.birth}}
            td
                a.item-detail(ng-click='goToDetail(item.id)') 详情
                a.item-delete(ng-click='deleteIt(item.id)')  删除
    .text-center
        ul.pagination
            li(ng-disabled='currentPage.isFirst')
                a(ng-click='loadPage(null, -1)') &laquo;
            li(ng-repeat='page in pages')
                a(ng-click='loadPage($index + 1)') {{$index + 1}}
            li(ng-disabled='currentPage.isLast')
                a(ng-click='loadPage(null, 1)') &raquo;

