
<div class="panel panel-default">
  <div class="panel-heading">
    <p>商品信息管理</p><a ng-click="goToCreate()" class="btn btn-primary">添加商品</a>
  </div>
  <table id="item-manage-list" class="table">
    <tr>
      <th>序号</th>
      <th>商品名称</th>
      <th>商品数量</th>
      <th>单价(元)</th>
      <th>单位</th>
      <th>发布时间</th>
      <th>操作</th>
    </tr>
    <tr ng-repeat="item in items" class="list-item">
      <td class="item-index">{{$index + 1}}</td>
      <td class="item-name">{{item.name}}</td>
      <td class="item-amount">
        <div class="btn-group">
          <button ng-click="alterAmount(item.id, null, -1)" class="btn btn-default">-</button>
          <input type="text" ng-value="item.amount" ng-change="alterAmount(item.id, item.amount)" class="btn btn-default number"/>
          <button ng-click="alterAmount(item.id, null, 1)" class="btn btn-default">+</button>
        </div>
      </td>
      <td class="item-price">{{item.price}}</td>
      <td class="item-unit">{{item.unit}}</td>
      <td class="item-birth">{{item.birth}}</td>
      <td class="item-operation"><a ng-click="goToDetail(item.id)" class="item-detail">详情</a><a ng-click="deleteIt(item.id)" class="item-delete"> 删除</a></td>
    </tr>
  </table>
  <div class="text-center">
    <ul class="pagination">
      <li ng-disabled="currentPage.isFirst"><a ng-click="loadPage(null, -1)">&laquo;</a></li>
      <li ng-repeat="page in pages"><a ng-click="loadPage($index + 1)">{{$index + 1}}</a></li>
      <li ng-disabled="currentPage.isLast"><a ng-click="loadPage(null, 1)">&raquo;</a></li>
    </ul>
  </div>
</div>