extends layout

block content
    .panel.panel-default

        .panel-body
            ol.breadcrumb
                li
                    a(href="/admin") 商品信息管理
                li
                    a(href="/admin/create") 添加商品
                li.active 添加属性
            .container
                form.form.form-horizontal(role="form")
                    .form-group
                        label.col-sm-2.control-label(for="attrName") 属性名
                        .col-sm-2
                            input#attrName.form-control(type="text", placeholder="请输入属性名")
                    .form-group
                        label.col-sm-2.control-label(for="attrValue") 属性值
                        .col-sm-2
                            input#attrValue.form-control(type="text", placeholder="请输入该属性的值")

            .btn-list
                button#attr-save.btn.btn-default.disabled 保存
                a.btn.btn-default(href="/admin/create") 取消

