doctype html
html
    head
        title= title
        meta(charset='utf-8')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(ng-app='posManager')
        nav.navbar.navbar-default(role="navigation")
            .container.container-fluid
                .navbar-header
                    a.navbar-brand(href="../../") pos机后台管理系统
        aside.sidebar
            .list-group
                a.list-group-item(href="/admin") 商品管理
                a.list-group-item(href="/promotion") 折扣活动

        .master(ng-view)


        script(type='text/javascript', src='/bower_components/jquery/jquery.min.js')
        script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(type='text/javascript', src='/bower_components/lodash/dist/lodash.min.js')
        script(type='text/javascript', src='/bower_components/angular/angular.js')
        script(type='text/javascript', src='/bower_components/angular-animate/angular-animate.js')
        script(type='text/javascript', src='/bower_components/angular-route/angular-route.js')
        script(type='text/javascript', src='/bower_components/angular-resource/angular-resource.js')
        script(type='text/javascript', src='/backend/app.js')
        script(type='text/javascript', src='/backend/home/homeController.js')
        script(type='text/javascript', src='/backend/edit/editController.js')
        script(type='text/javascript', src='/backend/addAttribute/addAttributeController.js')

