extends layout

block content
    .panel.panel-default
        .panel-heading
            p 商品信息管理
            a.btn.btn-primary(href='/admin/create') 添加商品
        #content.panel-body(data-page= page)

