extends layout
block content
    .panel.panel-default
        if item
            #name(data-name=item.name)
        .panel-body
            ol.breadcrumb
                li
                    a(href="/admin") 商品信息管理
                if from == 'add'
                    li
                        a(href="/admin/create") 添加商品
                else
                    li
                        - var link = "/admin/detail/" + item.name
                        a(href=link) 商品详情
                li.active 删除属性

            table#attrs-list.table
                tr
                    th 属性名称
                    th 属性值
                    th 操作

                if item && item.attrs
                    each attr in item.attrs
                        tr.list-item
                            td.attr-name= attr.name
                            td.attr-val= attr.val
                            td.attr-operation
                                a.attr-delete  删除

