doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        nav.navbar.navbar-default(role="navigation")
            .container.container-fluid
                .navbar-header
                    a.navbar-brand(href="..") pos机后台管理系统
        aside.sidebar
            .list-group
                a.list-group-item(href="#") 商品管理
                a.list-group-item(href="#") 折扣活动

        .master
            block content
        script(type='text/javascript', src='/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='/bootstrap/dist/js/bootstrap.min.js')

