extends layout

block content
  .container
    .jumbotron
      h1.text-left Welcome to Let's Go!
      p.lead.text-left.
        商店里进行购物结算时会使用收银机（POS）系统，这台收银机会在结算时根据 客户的购物车（Cart）中的商品（Item）和商店正在进行的优惠活动（Promotion）进行结算和打印购物清单。
        已知该商店正在对部分商品进行”买二赠一“的优惠活动。我们需要实现一个名为printInventory函数，该函数能够将指定格式的数据作为参数 输入，然后在浏览器的控制台中输出结算清单的文本。
      p.text-left
        a.btn.btn-primary(href="list") Let's Go
