extends layout

block content
  .container.text-center
    .panel.panel-default
      .panel-heading
        h3 商品列表
      .panel-body
        if list && list.length != 0
          table#item-table.table.table-bordered
            tr
              th 分类
              th 名称
              th 单价(元)
              th 单位
              th
            each item in list
              tr
                td= item.type
                td= item.name
                td= item.price
                td= item.unit
                td
                  button.btn.btn-primary.btm-sm 加入购物车
