
<div class="panel panel-default">
  <div class="panel-body">
    <div class="btn-list">
      <button ng-click="saveIt()" class="btn btn-default">保存商品</button>
      <button ng-click="addAttr()" class="btn btn-default">添加属性</button>
      <button ng-click="removeAttr()" class="btn btn-default">删除属性</button>
      <button ng-click="goBack()" class="btn btn-default">取消</button>
    </div>
    <div class="container">
      <form role="form" class="form form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">商品名称</label>
          <div class="col-sm-2">
            <input type="text" placeholder="请输入商品名称" ng-model="item.name" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">商品数量</label>
          <div class="col-sm-2">
            <input type="number" placeholder="请输入商品数量" ng-model="item.amount" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">单价（元）</label>
          <div class="col-sm-2">
            <input type="number" placeholder="请输入单价" ng-model="item.price" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">单位</label>
          <div class="col-sm-2">
            <input type="text" placeholder="请输入单位" ng-model="item.unit" class="form-control"/>
          </div>
        </div>
        <div ng-repeat="attr in item.attrs | orderBy: &quot;birth&quot;: reverse" class="form-group">
          <label class="col-sm-2 control-label">{{attr.name}}</label>
          <div class="col-sm-2">
            <input type="text" placeholder="请输入单位" ng-model="attr.val" class="form-control"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>