.container.text-center
    .panel.panel-default
        .panel-heading
            h4.side-space.text-left 购物清单
        .panel-body
            p.text-left {{time}}
            table.table.table-bordered
                tr
                    th 分类
                    th 名称
                    th 单价(元)
                    th 单位
                    th 数量
                    th 小计
                tr(ng-repeat='item in items')
                    td {{item.type}}
                    td {{item.name}}
                    td {{item.price}}
                    td {{item.unit}}
                    td {{item.count}}
                    td {{item | sumDisplay}}
        .panel-heading
            h4.side-space.text-left 赠送商品
        .panel-body
            table.table.table-bordered
                tr
                    th 分类
                    th 名称
                    th 数量
                tr(ng-repeat='gift in gifts')
                    td {{item.type}}
                    td {{item.name}}
                    td {{item | freeDisplay}}
        .side-space.text-right
            p 总计：{{total.toFixed(2)}} 元
            p 节省：{{saving.toFixed(2)}} 元
            button.btn.btn-primary.vertical-space(ng-click='pay()') 付款
