
<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <form role="form" name="ruleForm" class="form form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">打折规则</label>
          <div class="col-sm-2">
            <input type="text" ng-model="rule.description" required="required" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">打折期限</label>
          <div class="col-sm-2">
            <input type="text" ng-model="rule.from" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">-</label>
          <div class="col-sm-2">
            <input type="text" ng-model="rule.to" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">买</label>
          <div class="col-sm-2">
            <input type="text" ng-model="rule.bought" required="required" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">赠</label>
          <div class="col-sm-2">
            <input type="text" ng-model="rule.gift" required="required" class="form-control"/>
          </div>
        </div>
      </form>
    </div>
    <div class="btn-list">
      <button ng-disabled="ruleForm.$invalid" ng-click="saveIt()" class="btn btn-default">添加</button>
      <button ng-click="goBack()" class="btn btn-default">取消</button>
    </div>
  </div>
</div>